/* body {
  background-image: url(./woman-one.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
} */

.App {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150px;
  left: 100px;
}

h1 {
  color: black;
}

h3 {
  font-size: 30px;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
}

button {
  padding: 10px;
  border: white solid 3px;
  border-radius: 100px;
  background-color: palevioletred;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
}

button:hover {
  background-color: white;
  border: palevioletred solid 3px;
  color: white;
}

.containerTask {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 100px;
  display: none;
  width: 60%;
  text-align: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
}

@media all and (max-width: 1000px) {
  .container {
    position: static;
    align-items: center;
    margin: 10px;
    margin-top: 20px;
    text-align: center;
  }

  h2 {
    color: palevioletred;
  }

  .containerTask {
    bottom: 150px;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}